body { font-family: "Work Sans", sans-serif; }
.container { width: 90%; max-width: 1480px; margin: 0 2%;}
rect.guide { fill: #ddd; }
.guidelabel { font-size: 10px; fill: #999; }
.labels { font-size: 10px;  }
rect.gap { fill: #fff; }
.hidden { display: none; }
rect, path { fill: #bbb;}
.focal path { stroke-width: 2px; stroke: white; mix-blend-mode: darken;}
path.cnv { fill: #666; mix-blend-mode: multiply; }
circle { fill: #bbb; }
circle:hover { cursor: pointer; opacity: 0.7; }
.deep { fill: #8aeefb; }
.HIGH, .HIGH rect { fill: #58a57b; }
.MODERATE, .MODERATE rect { fill: #b8d69a; }
.Breakpoint { fill: white; }

div.tool_tip {	
    position: absolute;			
    text-align: left;			
    min-width: 60px;					
    min-height: 28px;					
    padding: 8px 16px 11px 11px;				
    font: 12px "Work Sans", sans-serif;	
    color: #ddd;	
    background: #444;		
    border-radius: 8px;		
    box-shadow: 6px 6px 8px #aaa;	
    pointer-events: none;	
    z-index: 11;		
}
div.tool_tip .header {
	font-size: 14px;
	color: #eee;
	margin-bottom: 6px;
}
/*
.container {
	overflow: auto;
		position: relative;
}
*/
.toprow {
	position: relative;
	background:#FFF;
	width:75%;
}
.fix-label .toprow {
	position: fixed;
		top: 0px;
}
.pixel { mix-blend-mode: multiply; }
.square { opacity: 0.9; }
.square:hover
{ 
  opacity: 1;
  stroke: #444;
  stroke-width: 1px;
}
.tick:hover
{ 
  fill: #0FA0CE;
}
div.tooltip
{
	position: absolute;
	text-align: left;
	padding: 8px;
	font: 12px sans-serif;
	background: #000;
  	color: #ddd;
	border: solid 1px #aaa;
	border-radius: 4px;
	pointer-events: none;
}
/*	label { display: inline-block; margin-left: 6px; }   */
output#zoom_level {
	font-size: 2em;
	color: #ccc;
}
textarea#genes { height: auto; }

@media print {
    #left_col, .tooltip {
        display: none;
        visibility: hidden;
    }
}
